html, body {
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}

#header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 20px;
}

#container {
    margin: auto;
    width: 40vw;
}

#logo {
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    image-rendering: crisp-edges;
}

#logo img {
    height: 150px;
}

#headercontent {
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

#maincontent {
    display: grid;
    justify-items: center;
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fard {
    max-width: 100%;
}

h1 {
    margin-top: 0px;
}